# Entornos y secretos
.venv/
venv/
env/
.env
.env.*
!.env.example
!worker/.env.example
lib/
lib64/
bin/
include/
pyvenv.cfg
.lock
CACHEDIR.TAG

# Python
__pycache__/
*.pyc
airflow/dags/__pycache__/
scripts/__pycache__/

# Datos y salidas
data/
outputs/
