AIRFLOW_UID=50000

# -----------------------------------------------------------------------------
# Base de datos (PostgreSQL)
# -----------------------------------------------------------------------------
POSTGRES_PASSWORD=tu_password



AIRFLOW__CELERY__BROKER_URL=amqp://guest:guest@host.docker.internal:5672/

# -----------------------------------------------------------------------------
# Seguridad de Airflow
#
# Fernet Key - para encriptar passwords en la BD
# Genera con: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
# -----------------------------------------------------------------------------
IRFLOW__CORE__FERNET_KEY=tu_llave  #la llave tiene que esta igual en las variables de entorno del worker

# Secret Key - para sesiones del API server (reemplaza WEBSERVER__SECRET_KEY de Airflow 2.x)
# Genera con: python -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW__API__SECRET_KEY=tu_llave  #la llave tiene que esta igual en las variables de entorno del worker
A
# -----------------------------------------------------------------------------
# Usuario admin (creado automáticamente por airflow-init)
# -----------------------------------------------------------------------------
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin123

AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=admin:admin


#ip del rabbitmq
AIRFLOW__CELERY__BROKER_URL=amqp://admin:admin@ip_rabbitmq:5672/

# -----------------------------------------------------------------------------
# Git Sync - configuración del repositorio
# -----------------------------------------------------------------------------
# URL del repositorio GitHub público
GIT_REPO_URL=tu_url_git

# Rama a sincronizar
GIT_BRANCH=main

# Subcarpeta dentro del repo donde están los DAGs
# Si tus DAGs están en /dags en la raíz del repo, deja "dags"
# Si están en /airflow/dags, coloca "airflow/dags"
GIT_DAG_SUBPATH=pipelines/dags

# Cada cuánto revisa cambios en GitHub (en segundos)
# 60s = 1 minuto, 300s = 5 minutos
GIT_SYNC_PERIOD=60s

#sirve como la clave secreta compartida utilizada para firmar y validar los tokens JWT
AIRFLOW__API_AUTH__JWT_SECRET=tu_token    #esta llave tiene que ser igual a la del worker


# Credenciales AWS
AWS_ACCESS_KEY_ID=key_user_s3                           # El Access Key ID del usuario IAM que creaste
AWS_SECRET_ACCESS_KEY=lleve_privada_user_s3   # El Secret Access Key del usuario IAM que creaste
AWS_DEFAULT_REGION=us-east-1                                        # Ej: us-east-1, us-west-2 (la región de tu bucket S3)

# Logging Airflow → S3
AIRFLOW__LOGGING__REMOTE_LOGGING=true
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://nombre_buket/logs      # Ej: s3://mi-bucket/logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=Nombre_conexion_airflow
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false
S3_BUCKET=Nombre_buket