AIRFLOW_UID=50000

# -----------------------------------------------------------------------------
# Base de datos — PostgreSQL externo Sirius
# -----------------------------------------------------------------------------
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://user:password@ip_db/name_db
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql+psycopg2://user:password@ip_db/name_db

# -----------------------------------------------------------------------------
# Broker — RabbitMQ
# -----------------------------------------------------------------------------
AIRFLOW__CELERY__BROKER_URL=amqp://admin:admin@ip_broker:5672/

# -----------------------------------------------------------------------------
# Seguridad Airflow
# -----------------------------------------------------------------------------
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW__API__SECRET_KEY=your_api_secret_key_here
AIRFLOW__API_AUTH__JWT_SECRET=your_jwt_secret_here
AIRFLOW__API_AUTH__JWT_ISSUER=https://your_dns/execution/
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=admin:admin

# -----------------------------------------------------------------------------
# Execution API
# -----------------------------------------------------------------------------
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://ip_master_airflow:8080/execution/

# -----------------------------------------------------------------------------
# Usuario admin
# -----------------------------------------------------------------------------
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=admin:admin,reino_vegetal:Vegetal2026,reino_animal:Animal2026,reino_monera:Monera2026,reino_fungi:Fungi2026

# -----------------------------------------------------------------------------
# Compose profiles
# -----------------------------------------------------------------------------
COMPOSE_PROFILES=flower

# -----------------------------------------------------------------------------
# Git Sync
# -----------------------------------------------------------------------------
GIT_REPO_URL=url_repo_git
GIT_BRANCH=main
GIT_DAG_SUBPATH=pipelines/dags
GIT_SYNC_PERIOD=60s

# -----------------------------------------------------------------------------
# AWS / S3 Logging
# -----------------------------------------------------------------------------
AWS_ACCESS_KEY_ID=your_aws_access_key_public_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_private_key_here
AWS_DEFAULT_REGION=your_aws_region_here
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://your_s3_bucket_name_here/logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=aws-default
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false
AIRFLOW__LOGGING__REMOTE_LOGGING=true
S3_BUCKET=your_s3_bucket_name_here


# -----------------------------------------------------------------------------
# Pip extras
# -----------------------------------------------------------------------------
_PIP_ADDITIONAL_REQUIREMENTS=
	


AIRFLOWDAG_PROCESSORREFRESH_INTERVAL=5

PYTHONPATH=/opt/airflow/pipelines


