# =========================
# SISTEMA
# =========================
AIRFLOW_UID=50000


CELERY_HOSTNAME=worker-1
QUEUES=celery,default
WORKER_CONCURRENCY=2

# =========================
# BASE DE DATOS — PostgreSQL externo Sirius
# =========================
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://user:password@ip_db/name_db
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql+psycopg2://user:password@ip_db/name_db

# =========================
# CELERY — RabbitMQ Sirius
# =========================
AIRFLOW__CELERY__BROKER_URL=amqp://admin:admin@ip_broke:5672/

# =========================
# SEGURIDAD — iguales al master
# =========================
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW__API__SECRET_KEY=your_api_secret_key_here
AIRFLOW__API_AUTH__JWT_SECRET=your_jwt_secret_here
AIRFLOW__API_AUTH__JWT_ISSUER=https://your_dns/execution/
AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=admin:admin

# =========================
# EXECUTION API — Master Sirius
# =========================
AIRFLOW__CORE__EXECUTION_API_SERVER_URL: "http://airflow-api-server:8085/execution/

# =========================
# GIT SYNC
# =========================
GIT_REPO_URL=url_repo_git
GIT_BRANCH=main
GIT_SYNC_PERIOD=60s

# =========================
# AWS / S3 LOGGING
# =========================
AWS_ACCESS_KEY_ID=your_aws_access_key_public_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_private_key_here
AWS_DEFAULT_REGION=your_aws_region_here
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://your_s3_bucket_name_here/logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=aws-default
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false
AIRFLOW__LOGGING__REMOTE_LOGGING=true
S3_BUCKET=your_s3_bucket_name_here

# =========================
# PIP EXTRAS
# =========================
_PIP_ADDITIONAL_REQUIREMENTS=




AIRFLOWDAG_PROCESSORREFRESH_INTERVAL=5
WORKER_CONCURRENCY=2
AIRFLOW__CELERY__WORKER_CONCURRENCY=2
PYTHONPATH=/opt/airflow/dags/current/pipelines

AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags/current/pipelines/dags
